* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #7430f9 0%, #7431f9 100%);
}

.form-control {
  border: 2px solid #7430f9;
  padding-left: 16px;
}

.form-control::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #7430f9;
}

.btn-submit {
  font-family: "Poppins", sans-serif;
  background-color: #7430f9;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 200px;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #8146f7;
}

.btn-submit-edit {
  font-family: "Poppins", sans-serif;
  background-color: #7430f9;
  color: #fff;
  border: none;
  width: 120px;
  transition: 0.3s;
}

.btn-submit-edit:hover {
  background-color: #8146f7;
}

.btn-closet {
  font-family: "Poppins", sans-serif;
  background-color: #0adae7;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 120px;
  transition: 0.3s;
}

.btn-closet:hover {
  background-color: #08b4c0;
}

.btn-back{
  word-break: break-all;
}

.modal-title {
  font-family: "Poppins", sans-serif;
  color: #7430f9;
}

.product {
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.product-buy {
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  word-break: break-all;
}

.list__item {
  padding: 20px;
  border-radius: 5px;
 
}

.list__item_buy {
  padding: 20px;
  border-radius: 5px;
  background-color: #44b93e;
  word-break: break-all;
  color: white;
  
}

